<!DOCTYPE html>
<html>
<head>
	<title>Letter to God</title>
</head>
<body>
	<h1> Write a Letter to God </h1>
	<br><br>
	<p> When you write a letter to God, you are not only
	clearing your own head with all of your doubts and thoughts
	but you are genuinely finding a way to communicate with God. 
	So stop worrying, and start typing to Him. </p>
	<br><br>
	<form action = "{{url_for('show')}}" method = "GET">
	<textarea name="message" rows="4" cols="50"></textarea>
	<input type = "submit" value = "Submit!">
	</form>
</body>
</html>
